<div class="container">
  <ul class="navbar-nav nav">
    
  </ul>
  <div class="row">
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        This is some text.
        <button type="button" name="button" class="btn btn-primary"></button>
      </p>
    </div>
  </div>
</div>
